body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* section one start */
h1{
    font-size: 50px;
    font-weight: 700;
    color: #504b4b;

}
.orange{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width-text{
    width: 50%;
    padding: 10% 5% 5% 5%;

}
.half-width-img{
    width: 50%;
    padding: 5%;
}
.sec-one-p{
    padding-bottom: 10px;
    font-size: 20px;
    color: gray;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 20px 40px;
    border-radius: 5px;
}
.sec-one-img{
    width: 80%;
}
/* Section one end */

/* section two start */
.sec-two{
    display: flex;
    background-image: url(images/shapes/Frame-58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.hfw-2{
    width: 50%;
    padding-right: 5%;
}
.sec-two-img{
    width: 50%;
}
.hfw-2 h2{
    font-size: 40px;
    color: #504b4b;
}
.hfw-2 p{
    color: gray;
    font-size: 18px;
    padding-bottom: 10px;
}
.hfw-2-img{
    text-align: center;
}
.hfw-2-text{
    padding-top: 60px;
}
/* Section one end */

/* section three start */
.section-three{
    margin-top: 100px;
    margin-bottom: 100px;
}
.recipy-section{
    text-align: center;
}
.recipy-section h2{
    color: #504b4b;
    font-size: 35px;
}
.recipy-section p{
    padding: 0 25%;
    font-size: 18px;
    color: gray;
}
.box-area{
    display: flex;
    /* text-align: center; */
}
.box-item{
    margin: 50px;
    padding: 20px;
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
    width: 400px;
    height: 460px;
}
.box-item h3{
    color: #504b4b;
    font-size: 25px;
}
.box-item p{
    color: gray;
    font-size: 18px;
}
.box-item img{
    width: 100%;
    border-radius: 20px;
}
.box-item-text{
    padding-right: 20px;
    text-align: left;
}